@import './variables';

.about-us {
	margin-bottom: 216px;
	height: 634px;
	background: url('../img/about-us.jpg');
	background-size: cover;
	background-repeat: no-repeat;

	@media screen and (max-width: $xxxl) {
		margin-bottom: 160px;
	}
	@media screen and (max-width: $xl) {
		height: 500px;
		margin-bottom: 10px;
	}
	@media screen and (max-width: $sm) {
		padding-bottom: 15px;
		height: 300px;
	}

	&__title {
		padding-bottom: 80px;
		padding-top: 30px;

		@media screen and (max-width: $xl) {
			padding-bottom: 50px;
		}
		@media screen and (max-width: $lg) {
			padding-bottom: 30px;
		}
		@media screen and (max-width: $md) {
			padding-bottom: 20px;
		}
		@media screen and (max-width: $sm) {
			padding-bottom: 15px;
			// height: 300px;
		}
		@media screen and (max-width: $xs) {
			padding-bottom: 12px;
		}
	}
}
