@import './variables';

.better-to-see {
	padding-left: 76px;
	padding-bottom: 600px;
	display: flex;
	justify-content: space-between;
	background-image: url('../img/better-to-see.png');
	background-size: cover;
	background-repeat: no-repeat;

	@media screen and (max-width: $xxl) {
		padding-bottom: 500px;
	}

	@media screen and (max-width: 1070px) {
		display: block;
		padding-left: 0;
	}

	@media screen and (max-width: $xl) {
		padding-bottom: 250px;
	}

	@media screen and (max-width: $lg) {
		background-position: 0 35px;
	}

	@media screen and (max-width: $md) {
		background-position: 0px 25px;
	}

	@media screen and (max-width: $sm) {
		padding-bottom: 140px;
		background-position: 0px 60px;
	}

	&__title-wrapper {
		@media screen and (max-width: $xxl) {
			width: 335px;
		}

		@media screen and (max-width: 1070px) {
			padding-left: 76px;
			width: 100%;
		}

		@media screen and (max-width: $md) {
			padding-left: 0;
			width: 100%;
		}
	}

	&__title {
		@media screen and (max-width: $md) {
			padding-left: 40px;
		}
	}
	&__img {
		width: 842px;
		height: 649px;

		@media screen and (max-width: 1470px) {
			width: 700px;
			height: 550px;
		}

		@media screen and (max-width: 1330px) {
			width: 585px;
			height: 450px;
		}

		@media screen and (max-width: 1070px) {
			margin: 75px auto;
			width: 100%;
		}

		@media screen and (max-width: $xl) {
			height: 350px;
		}
		@media screen and (max-width: $lg) {
		}
		@media screen and (max-width: $md) {
			height: 280px;
		}
		@media screen and (max-width: $sm) {
			height: 200px;
		}
		@media screen and (max-width: $xs) {
		}
	}
	&__line {
		position: relative;
		left: -140px;
	}
	// &__line.line-title {
	// 	@media screen and (max-width: $md) {
	// 		width: 332px;
	// 	}
	// 	@media screen and (max-width: $sm) {
	// 		width: 300px;
	// 	}
	// }
}
