/* Default Styles */

@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500&display=swap');
@import './variables';
@import './text-size';
@import 'header';
@import 'main';
@import 'about';
@import 'our-services';
@import 'better-to-see';
@import 'contacts';
@import 'footer';

*,
*::after,
*::before {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Akshar', sans-serif;
	font-weight: 400;
	background: $background;
}

img {
	width: 100%;
}

html,
body {
	width: 100%;
	overflow-x: hidden;
}

.uppercase {
	text-transform: uppercase;
}

.title-content {
	padding-left: 140px;
	@media screen and (max-width: $xl) {
		padding-left: 40px;
	}
	@media screen and (max-width: $lg) {
	}
	@media screen and (max-width: $md) {
	}
	@media screen and (max-width: $sm) {
	}
	@media screen and (max-width: $xs) {
	}
}

.text-content-wrapper {
	width: 70%;
	margin: 0 auto;
	@media screen and (max-width: $xs) {
		margin-left: 40px;
	}
	ul {
		@media screen and (max-width: $xs) {
			padding-left: 20px;
		}
	}
}

.link {
	text-decoration: none;
	color: #000000;
	transition: color 0.3s ease;
	&:hover {
		color: #61b1e8;
	}
}

.line-title {
	background: url('../img/line-title.svg');
	width: 500px;
	height: 15px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	@media screen and (max-width: $xxl) {
		position: relative;
		width: 470px;
	}

	@media screen and (max-width: $xl) {
		width: 400px;
		left: -90px;
	}

	@media screen and (max-width: $lg) {
		width: 350px;
	}
	@media screen and (max-width: $md) {
		width: 320px;
	}
	@media screen and (max-width: $sm) {
		width: 300px;
	}
	@media screen and (max-width: $xs) {
	}
}

@media screen and (max-width: $xl) {
}

@media screen and (max-width: $xl) {
}
@media screen and (max-width: $lg) {
}
@media screen and (max-width: $md) {
}
@media screen and (max-width: $sm) {
}
@media screen and (max-width: $xs) {
}
