<div class='better-to-see'>
	<div>
		<div class='better-to-see__title uppercase text-xl'>Better to see</div>
		<div class='better-to-see__line line-title'></div>
	</div>

	<img class='better-to-see__img' src="./assets/img/better-to-see.svg" alt="">
</div>


<!-- <div class='better-contact-wrapper'>
	<div class='better-to-see'>
		<div>
			<div class='better-to-see__title uppercase text-xl'>Better to see</div>
			<div class='better-to-see__line line-title'></div>
		</div>

		<img class='better-to-see__img' src="./assets/img/better-to-see.svg" alt="">
	</div>

	<div class='contacts uppercase'>
		<div class='contacts__wrapper'>
			<div class='contacts__title text-xl'>want to know more?</div>
			<div class='contacts__content-wrapper text-l'>
				<div class='contacts__content'>
					<div class='contacts-content__title'>Contact us via email</div>
				</div>
				<div class='contacts__content contacts-content'>
					<div class='contacts-content__title'>reach us by phone</div>
				</div>
				<div class='contacts__content'>
					<div class='contacts-content__title'>visit us</div>
				</div>
			</div>
		</div>
	</div>

</div> -->