<div class='our-services'>
	<div class='our-services__title-wrapper'>
		<div class='text-xl uppercase title-content'>our servıces</div>
		<div class='line-title'></div>
	</div>
	<div class='text-content-wrapper'>
		<ul class='text-m'>
			<li>Digital support of complex projects in EPS format</li>
			<li>Multidisciplinary design and supervision (BIM)</li>
			<li>Project execution plan development (PEXP)</li>
			<li>Site laser scan - point cloud to BIM model</li>
			<li>Development of smart 4d model (4D SYNCHRO)</li>
			<li>Project planning and cost analysis (5D)</li>
			<li>Enablement of facility management (6D software)</li>
			<li>Implementation of advanced work packaging (AWP)</li>
			<li>APi development / training / consultant</li>
		</ul>
	</div>
	<div class='our-2'>

	</div>
</div>